<div class="contenedor-imagen">
  <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/banner-vinculacion.png?alt=media&token=3e54ffc3-dce8-46d3-9b6f-c19938414043" alt="trabaja-con-nosotros">
  <div class="texto-superpuesto">
    “¿Quieres ser parte del cambio?.”
  </div>
</div>

<section class="programas">
    <div class="contenido">
        <h2><br><br>Transforma tu vocación en acción</h2>
        <div class="section ">
           <div class="text">
                <p> 
                  En <strong>FAS</strong>, creemos que cada persona tiene el poder de transformar su entorno. 
                  Por eso, te invitamos a sumarte como <strong>voluntario</strong> o <strong>practicante</strong> 
                  en nuestros programas sociales y comunitarios. 
                  <br><br> Al unirte a nosotros, no solo estarás 
                  contribuyendo al bienestar de poblaciones vulnerables, sino que también vivirás una experiencia 
                  enriquecedora que potenciará tu crecimiento personal y profesional. 
                  <br><br> Tendrás la 
                  oportunidad de involucrarte en proyectos reales, desarrollar habilidades en sostenibilidad, 
                  liderazgo, gestión social y trabajo en equipo, mientras haces parte activa de una red 
                  comprometida con la construcción de una sociedad más justa y solidaria. 
                  <br><br> <strong>En FAS, tu compromiso se convierte en acción, y tu acción en impacto.</strong> 
                </p>
            </div>

            <div class="ofrecemos">
              <h3>¿Qué te ofrecemos?</h3>
              <div class="contenido-ofrecemos">
                <div class="ofrecemos-item">
                  <mat-icon>school</mat-icon>
                  Formación en competencias clave como sostenibilidad, gestión de proyectos y trabajo comunitario.
                </div>
                <div class="ofrecemos-item">
                  <mat-icon>group</mat-icon>
                  Participación activa en iniciativas sociales y educativas con impacto real.
                </div>
                <div class="ofrecemos-item">
                  <mat-icon>lightbulb</mat-icon>
                  Espacios dinámicos para el aprendizaje, el liderazgo y el crecimiento personal.
                </div>
                <div class="ofrecemos-item">
                  <mat-icon>supervisor_account</mat-icon>
                  Acompañamiento profesional y experiencias significativas con propósito.
                </div>
                <div class="ofrecemos-item">
                  <mat-icon>connect_without_contact</mat-icon>
                  Oportunidades para ampliar tu red de contactos y fortalecer tus conocimientos.
                </div>
              </div>
            </div>

            <div class="contacto">
              <h3>Deja tu mensaje y transforma con nosotros</h3>
              <form [formGroup]="formularioContacto" (ngSubmit)="enviar()" class="form">
                <div class="grid">
                    <label>
                        <input required="" placeholder="" type="text" class="input" formControlName="nombre">
                        <span>Nombres</span>
                    </label>
                    <span class="espacio"></span>
                    <label>
                        <input required="" placeholder="" type="text" class="input" formControlName="apellido">
                        <span>Apellido</span>
                    </label>
                </div>      

                <label>
                    <input required="" placeholder="" type="email" class="input inputmail" formControlName="correo">
                    <span>Correo</span>
                </label> 
                    
                <label>
                    <input required="" type="number" placeholder="" class="input" formControlName="telefono">
                    <span>Numero Telefonico</span>
                </label>
                <label>
                    <textarea required="" rows="5" placeholder="" class="input01" formControlName="mensaje"></textarea>
                    <span>Mensaje</span>
                </label>
                
                <button class="fancy"  type="submit">
                  <span class="top-key"></span>
                  <span class="text">ENVIAR</span>
                  <span class="bottom-key-1"></span>
                  <span class="bottom-key-2"></span>
                </button>
            </form>
          </div>
        </div>
    </div>
</section>