
<div class="barra-responsive">
  <div class="logo-responsive">
        <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Empresa%2Flogo.png?alt=media&token=6c12e567-036f-4ee1-b877-49eb2dfe6e05" alt="FAS" [routerLink]="['inicio']">
    </div>
  <input type="checkbox" id="menu-responsive" (click)="menuHamburguesa()" #menuCheckbox>
    <label for="menu-responsive" id="menu-icon-hamburguesa">
        <div></div>
        <div></div>
        <div></div>
    </label>
</div>

<div class="contenedor-menu" [class.menu-abierto]="menuAbierto">
  
  <nav class="menu">
    <div class="logo" (click)="cerrarMenu()">
        <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Empresa%2Flogo.png?alt=media&token=6c12e567-036f-4ee1-b877-49eb2dfe6e05" alt="FAS" [routerLink]="['inicio']">
    </div>

    <ul class="opciones">
      <li><a [routerLink]="['inicio']" routerLinkActive="activa"  (click)="cerrarMenu()"><span>INICIO</span></a></li>
      <li><a [routerLink]="['quienes-somos']" routerLinkActive="activa"  (click)="cerrarMenu()"><span>QUIÉNES SOMOS</span></a></li>
      <li><a [routerLink]="['']" routerLinkActive=""  (click)="cerrarMenu()"><span>OPCION</span></a></li>
      <li><a [routerLink]="['']" routerLinkActive=""  (click)="cerrarMenu()"><span>OPCION</span></a></li>
      <li class="solo-responsive"><br></li>
    </ul>
  </nav>
</div>
