<div class="contenedor-imagen">
  <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/banner-programa.jpg?alt=media&token=5e248642-747c-4e8d-b392-837483a93d1d" alt="ImagenBanner">
  <div class="texto-superpuesto">
    “Un espacio para sanar, reconstruir y volver a empezar.”
  </div>
</div>

<section class="programas">
    <div class="contenido">
        <h2>Tú Eres Esperanza</h2>
        <div class="section ">
           <div class="text">
                <p>
                    Estos programas están especialmente diseñados para mujeres que han sido 
                    víctimas de violencia de género, brindándoles un espacio seguro donde puedan 
                    ser escuchadas, comprendidas y acompañadas en su proceso de sanación. A 
                    través de atención psicológica, talleres de empoderamiento, espacios de 
                    contención emocional y actividades formativas, se busca fortalecer su 
                    autoestima, promover su autonomía y contribuir a la reconstrucción de 
                    sus proyectos de vida. El objetivo es que cada mujer recupere su voz, 
                    su confianza y sus derechos, en un entorno que respeta su dignidad y 
                    promueve su bienestar integral.                
                </p>
            </div>
        </div>
    </div>


    <div class="contendio-programas">

        <article class="tarjeta">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2Fpsicologia.svg?alt=media&token=51127cec-eb5c-47c6-a536-b649c3a15435" alt="psicológica">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Terapias psicológicas individuales y grupales</div>
                </div>
                    <span class="lighter">
                        Atención psicológica personalizada y en grupo, orientada a brindar herramientas 
                        para el manejo de emociones, resolución de conflictos, fortalecimiento personal 
                        y acompañamiento en procesos de cambio y sanación.
                    </span>
                </div>
        </article>

        <article class="tarjeta reversa">
             <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2Fautoestima.svg?alt=media&token=9a103c13-d662-451b-b4b6-f0ffd78a3cde" alt="Autoestima">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Talleres de autoestima y empoderamiento</div>
                </div>
                <span class="lighter">
                    Encuentros participativos donde se promueve el desarrollo de la autoestima, la autoimagen 
                    positiva y el empoderamiento personal, con el fin de que cada participante reconozca su 
                    potencial y capacidad de decisión.
                </span>
            </div>
        </article>

        <article class="tarjeta">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2Fescucha.svg?alt=media&token=2d435ea8-2c3e-47f9-9b02-284c088c661a" alt="Escucha">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Espacios de escucha y contención emocional</div>
                </div>
                <span class="lighter">
                    Ambientes de confianza donde las personas pueden ser escuchadas sin juicio, 
                    recibir apoyo emocional y encontrar acompañamiento profesional en momentos de 
                    crisis, duelo o malestar psicológico.
                </span>
            </div>
        </article>

        <article class="tarjeta reversa">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2FIntregracion.svg?alt=media&token=fb585f23-9140-43bd-90e7-61f0abf17df1" alt="Integracion">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Asesoramiento en procesos de reintegración social</div>
                </div>
                <span class="lighter">
                    Orientación profesional para personas que atraviesan procesos de reinserción social, 
                    ayudándoles a enfrentar desafíos, restablecer vínculos y desarrollar herramientas 
                    que favorezcan su inclusión y autonomía.
                </span>
            </div>
        </article>

        <article class="tarjeta">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2Fcapacitar.svg?alt=media&token=ccdcb359-3e6f-4d85-8a20-c688e3ec8369" alt="Capacitar">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Capacitar en herramientas laborales y empresariales</div>
                </div>
                <span class="lighter">
                    Espacios formativos que brindan conocimientos prácticos en empleabilidad, 
                    emprendimiento y gestión empresarial, orientados a fortalecer la autonomía 
                    económica, mejorar las oportunidades laborales y fomentar iniciativas 
                    productivas sostenibles
                </span>
            </div>
        </article>

        <article class="tarjeta reversa">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2Frecreacion.svg?alt=media&token=3ccaf8e8-a9a4-4950-8927-29c76c595a3a" alt="Recreacion">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Actividades lúdicas, recreativas y educativas</div>
                </div>
                <span class="lighter">
                    Propuestas dinámicas que combinan el juego, la creatividad y el aprendizaje, 
                    diseñadas para promover el desarrollo integral, fortalecer habilidades sociales 
                    y fomentar el bienestar emocional en un entorno participativo.
                </span>
            </div>
        </article>

        <article class="tarjeta">
            <div class="caja-img">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/programas%2FApoyo.svg?alt=media&token=a9c9ee76-89b0-42a9-8a2e-26af90271b3c" alt="ApocoComunitario">
            </div>
            <div class="project-info">
                <div class="flex">
                    <div class="project-title">Crear redes de apoyo comunitarias</div>
                </div>
                <span class="lighter">
                    Iniciativas que promueven la construcción de lazos solidarios entre 
                    participantes, instituciones y comunidades, con el fin de generar entornos 
                    colaborativos, fortalecer el sentido de pertenencia y facilitar el acceso 
                    a recursos, orientación y acompañamiento mutuo.
                </span>
            </div>
        </article>
    </div>
</section>





   
