<div class="contenedor-imagen">
  <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Inicio%2Fbanner-inicio.png?alt=media&token=dbf54c33-06db-4249-bc3d-da47dcae4897" alt="ImagenBanner">
  <div class="texto-superpuesto">
    “Impulsando el cambio con acciones sostenibles”
  </div>
</div>


<div class="inicio">
    
    <h2 class="titulo">Bienvenido a FAS</h2>
    <div class="contenedor-bienvenida">
        <div class="imagen-bienvenida">
            <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Inicio%2Finicio-nosotros2.png?alt=media&token=d9139a78-a4fd-446e-8067-c9a91344fd22" alt="Imagen de bienvenida">
        </div>
        <div class="inicio-bienvenida">
            <p>En FAS trabajamos cada día por un mundo más justo, solidario y sostenible. A través de programas sociales, 
            ambientales y comunitarios, acompañamos a poblaciones vulnerables, promoviendo el desarrollo humano y el 
            fortalecimiento del tejido social.</p>
            <p>Creemos en el poder de la acción colectiva y en el compromiso de quienes, como tú, quieren ser parte 
            del cambio. Ya sea como voluntario, practicante, aliado o donante, en FAS encontrarás un espacio 
            para construir futuro con propósito.</p>
            <p>Explora nuestros proyectos, conoce nuestras historias y únete a esta misión transformadora.</p>
            <p><b>Porque juntos, somos fuerza para el cambio.</b></p>
            <div class="boton boton-quienes-somos">
                <a class="fancy" [routerLink]="['../quienes-somos']">
                    <span class="top-key"></span>
                    <span class="text">Conoce más</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
            </div>
        </div>
    </div>
    <h2 class="titulo2">Nuestros Valores</h2>
    <div class="valores">
        <div class="valor">
            <div class="icono-titulo">
            <mat-icon>verified_user</mat-icon>
            <h2>RESPONSABILIDAD</h2>
            </div>
            <p>Asumimos con compromiso cada una de nuestras acciones, contribuyendo de forma activa al desarrollo sostenible. Nos esforzamos por generar un impacto positivo en nuestro entorno y en las comunidades que acompañamos.</p>
        </div>

        <div class="valor">
            <div class="icono-titulo">
                <mat-icon>diversity_3</mat-icon>
                <h2>RESPETO</h2>
            </div>
            <p>Promovemos un ambiente inclusivo y colaborativo, valorando la diversidad de ideas, experiencias y talentos. Creemos en el poder del diálogo y la escucha activa para construir relaciones sólidas y equitativas.</p>
        </div>

        <div class="valor">
            <div class="icono-titulo">
                <mat-icon>gavel</mat-icon>
                <h2>HONESTIDAD</h2>
            </div>
            <p>Actuamos con integridad y transparencia en cada decisión y proceso. La confianza que construimos se basa en decir la verdad, cumplir nuestros compromisos y actuar con ética profesional.</p>
        </div>

        <div class="valor">
            <div class="icono-titulo">
                <mat-icon>military_tech</mat-icon>
                <h2>CALIDAD</h2>
            </div>
            <p>Nos guiamos por altos estándares de excelencia. Cada tarea, proyecto y servicio refleja nuestro compromiso con la mejora continua y con entregar resultados que marquen la diferencia.</p>
        </div>

        <div class="valor">
            <div class="icono-titulo">
                <mat-icon>volunteer_activism</mat-icon>
                <h2>SERVICIO</h2>
            </div>
            <p>Servimos con pasión y dedicación, poniendo al cliente y a la comunidad en el centro de nuestras acciones. Buscamos superar expectativas y generar bienestar social y ambiental de manera sostenida.</p>
        </div>
    </div>


    <h2 class="titulo2">¿Cómo Puedo Ayudar?</h2>
    <div class="contenedor-vinculacion">
        <div class="caja">
            <div class="texto-vinculacion">
                <p>
                    En <b>FAS</b>, creemos firmemente en el poder de la acción colectiva. Por eso, abrimos las puertas a todas aquellas 
                    personas que desean dejar una huella positiva en la sociedad. Te invitamos a sumarte a nuestra causa, aportando tu 
                    talento, tiempo y compromiso en iniciativas que generan un impacto real. <br>
                    Ya sea como voluntario o practicante, tendrás la oportunidad de participar activamente en proyectos que promueven el 
                    desarrollo humano, el cuidado del medio ambiente y el fortalecimiento del tejido social. Tu contribución, por pequeña 
                    que parezca, puede marcar la diferencia en la vida de muchas personas.
                </p><br>    
                
                <h2>Prácticas y Voluntariado</h2>
                <div class="caja-vinculacion-responsive">
                    <div class="imagen-responsive">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Inicio%2Finicio-vinculacion.jpg?alt=media&token=f840fb83-944e-4e98-a208-de2a364b3bf3" alt="Vinculacion">
                    </div>
                    <div class="texto-vinculacion-responsive">
                        <p>
                            Al <b>vincularte con FAS</b>, no solo desarrollas habilidades personales y profesionales, también te conviertes 
                            en un agente de cambio. Trabajarás mano a mano con comunidades vulnerables, formarás parte de equipos interdisciplinarios 
                            y vivirás una experiencia enriquecedora que trasciende lo académico o laboral.
                        </p>
                        <div class="boton boton-vinculacion">
                            <a class="fancy" [routerLink]="['../vinculacion']">
                                <span class="top-key"></span>
                                <span class="text">Conoce más</span>
                                <span class="bottom-key-1"></span>
                                <span class="bottom-key-2"></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="imagen-vinculacion">
                <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Inicio%2Finicio-vinculacion.jpg?alt=media&token=f840fb83-944e-4e98-a208-de2a364b3bf3" alt="Vinculacion">
            </div>
        </div>
    </div>
</div>
