<div class="contenedor-imagen">
  <img src="https://firebasestorage.googleapis.com/v0/b/fundacion-fas.firebasestorage.app/o/Banner.jpg?alt=media&token=565ddb8c-4f09-4445-bf6f-0816f4abda6c" alt="ImagenBanner">
  <div class="texto-superpuesto">
    “Impulsando el cambio con acciones sostenibles”
  </div>
</div>


<section class="valores">

    <div class="valor">
        <div class="icono-titulo">
          <mat-icon>verified_user</mat-icon>
          <h2>RESPONSABILIDAD</h2>
        </div>
        <p>Asumimos con compromiso cada una de nuestras acciones, contribuyendo de forma activa al desarrollo sostenible. Nos esforzamos por generar un impacto positivo en nuestro entorno y en las comunidades que acompañamos.</p>
    </div>

    <div class="valor">
        <div class="icono-titulo">
            <mat-icon>diversity_3</mat-icon>
            <h2>RESPETO</h2>
        </div>
        <p>Promovemos un ambiente inclusivo y colaborativo, valorando la diversidad de ideas, experiencias y talentos. Creemos en el poder del diálogo y la escucha activa para construir relaciones sólidas y equitativas.</p>
    </div>

    <div class="valor">
        <div class="icono-titulo">
            <mat-icon>gavel</mat-icon>
            <h2>HONESTIDAD</h2>
        </div>
        <p>Actuamos con integridad y transparencia en cada decisión y proceso. La confianza que construimos se basa en decir la verdad, cumplir nuestros compromisos y actuar con ética profesional.</p>
    </div>

    <div class="valor">
        <div class="icono-titulo">
            <mat-icon>military_tech</mat-icon>
            <h2>CALIDAD</h2>
        </div>
        <p>Nos guiamos por altos estándares de excelencia. Cada tarea, proyecto y servicio refleja nuestro compromiso con la mejora continua y con entregar resultados que marquen la diferencia.</p>
    </div>

    <div class="valor">
        <div class="icono-titulo">
            <mat-icon>volunteer_activism</mat-icon>
            <h2>SERVICIO</h2>
        </div>
        <p>Servimos con pasión y dedicación, poniendo al cliente y a la comunidad en el centro de nuestras acciones. Buscamos superar expectativas y generar bienestar social y ambiental de manera sostenida.</p>
    </div>

</section>